<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="../../assets/img-01.png" alt="IMG">
      </div>

      <div>
        <div class="login100-form validate-form">
          <span class="login100-form-title">
            Member Signup
          </span>

<form [formGroup]="signUpForm" autocomplete="off">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstname">
        </mat-form-field>
        <div class="mb-2" *ngIf="submitted2 && signUpForm.controls.firstname?.errors" class="formError">
          <div *ngIf="signUpForm.controls.firstname?.errors.required">Please enter some value
          </div>
        </div>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastname">
        </mat-form-field>
        <div class="mb-2" *ngIf="submitted2 && signUpForm.controls.lastname?.errors" class="formError">
          <div *ngIf="signUpForm.controls.lastname?.errors.required">Please enter some value
          </div>
        </div>
      </div>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <div class="mb-2" *ngIf="submitted2 && signUpForm.controls.username?.errors" class="formError">
      <div *ngIf="signUpForm.controls.username?.errors.required">Please enter some value
      </div>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email Id</mat-label>
      <input matInput placeholder="Email Id" formControlName="userid">
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>
    <div class="mb-2" *ngIf="submitted2 && signUpForm.controls.userid?.errors" class="formError">
      <div *ngIf="signUpForm.controls.userid?.errors.required">Please enter some value
      </div>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <div class="mb-2" *ngIf="submitted2 && signUpForm.controls.password?.errors" class="formError">
      <div *ngIf="signUpForm.controls.password?.errors.required">Please enter some value
      </div>
    </div>


    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Mobile</mat-label>
      <input matInput placeholder="Mobile" formControlName="mobile">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <div class="mb-2" *ngIf="submitted2 && signUpForm.controls.mobile?.errors" class="formError">
      <div *ngIf="signUpForm.controls.mobile?.errors.required">Please enter some value
      </div>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="mb-2" *ngIf="submitted2 && signUpForm.controls.date?.errors" class="formError">
      <div *ngIf="signUpForm.controls.date?.errors.required">Please enter some value
      </div>
    </div>

    <div class="row">
      <div class="pl-3">
        <mat-checkbox>I agree to terms & conditions</mat-checkbox>
      </div>
    </div>
  </form>

  <div class="row justify-content-center">
    <button (click)="saveUser()" style="width: 40%; background-color: #007bff; padding: 2%"
      class="btn btn-primary mt-3">Sign Up</button>
  </div>
  <div class="text-center p-t-136">
    <a class="txt2" (click)="changeLoginStatus()">
      Need to Login?
      <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
    </a>
  </div>
  </div>
  </div>
    </div>